.page-header {
    padding-block: 30px;
}

.container {
    background-image: url("img/indexBackground.jpeg") ;
    background-size: cover;
    height: 500px;
}

h1 {
    color: white;
    padding: 15px;
}

#temp {
    color: white;
}